<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lab.mybatis.map.MapMapper">

<!-- 메인 검색 결과   ##################################################################### -->

   <!-- 전체 마커 표시용 -->
   <select id="getMarkers" resultType="lab.spring.sikgu.model.StoreVO" parameterType="hashmap">
      select sikgu_id, store_name, store_x, store_y, category_id, store_sigungu, store_dong
      from store
      where (store_x between #{W} and #{E})
      and (store_y between #{S} and #{N})
      and category_id in
      
      <foreach item="ca" collection="items" open="(" close=")" separator=",">
         #{ca}
      </foreach>
      
      order by sikgu_id
   </select>
   
<!-- 마커 클릭 시 (상점 상세) -->
   <select id="getStoreDetail" resultType="lab.spring.sikgu.model.StoreVO" parameterType="hashmap">
      select * from store 
      where store_name = #{store_name} and trunc(store_x,5) = #{store_x} and trunc(store_y, 5) = #{store_y}
      order by store_name
   </select>


<!-- / 메인 검색 결과   ##################################################################### -->

<!-- 옵션 검색 결과   ##################################################################### -->

   <select id="getSearchedMarkers" resultType="lab.spring.sikgu.model.StoreVO" parameterType="hashmap">
      select store_id,store_name, store_x, store_y, ,store_sigungu, store_dong
      from 
      (select store_id,store_name, store_x, store_y, ,store_sigungu, store_dong
      from store where category_id in 
      <foreach item="category" collection="#{items}" open="(" close=")" separator=",">
         #{items}
      </foreach>)
      <if test="store_name != null" >
      where store_name like #{store_name}
      </if>
      <if test="store_dong != null">
      where store_dong like #{store_dong}
      </if>
      <if test="email != null">
      where email like #{email}
      </if>
   </select>

<!-- / 옵션 검색 결과   ##################################################################### -->


</mapper>